<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="_header.html"></div>

1 - Сложить (X + Y)
<br>2 - Вычесть (X - Y)
<br>3 - Разделить (X / Y)
<br>4 - Умножить (X * Y)
<br>0 or other - in Menu
<br>
<br>
<form action="/calc" method="get">
    <p>
        <label for="x" >Number 1</label>
        <input type="text"  id="x"  name = "x">

        <label for="num2" >Number 2</label>
        <input type="text"  id="num2"  name = "y">

        <label for="c" >Command</label>
        <input type="text"  id="c"  name = "command">
        <button type="submit">Calculate</button>
    </p>

    <span th:if="${action} != null">
        <p th:text="${result}">
    </span>
</form>
</body>
</html>